
<div id="clone_folder" style="display: none;">
    <div class="folder_container">
        <div class="webix_column webix_first col-lg-3 col-sm-3 col-xs-3">
            <div class="webix_cell folder context">
                <span class="webix_icon webix_fmanager_icon fa-folder"></span>
                <span class='folder_name' style="display: none;">Новая папка</span>
                <input type="text" name="name" value="Новая папка" class="folder_rename_input" data-method="post" data-url="<%= url_for admin_folders_store_path %>" />
            </div>
        </div>
        <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
            <div class="webix_cell">
                &nbsp;
            </div>
        </div>
        <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
            <div class="webix_cell">
                &nbsp;
            </div>
        </div>
        <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
            <div class="webix_cell">
                &nbsp;
            </div>
        </div>
    </div>
</div>