<div class="folder_container">
    <div class="webix_column webix_first col-lg-3 col-sm-3 col-xs-3">
        <div class="webix_cell folder context download_file" data-target="#context-menu-{{ $file->id }}" id="folder_{{ $file->id }}" data-download-href="{{ route('admin_files_download', ['id' => $file->id]) }}">
            <span class="webix_icon webix_fmanager_icon fa-file-o"></span>
            <span class='folder_name' title="{{ $file->description }}">{{ $file->description }}</span>
            <textarea name="description" class="folder_rename_input" style="display: none;" data-method="put" data-id="{{ $file->id }}" data-url="{{route('admin_files_update', ['id' => $file->id ])}}">{{ $file->description }}</textarea>
        </div>
    </div>
    <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
        <div class="webix_cell">
            {{ date('d/m/Y H:i', strtotime($file->updated_at)) }}
        </div>
    </div>
    <div class="webix_column col-lg-2 col-sm-2 col-xs-2">
        <div class="webix_cell">
            {{ ucfirst($file->type) }}
        </div>
    </div>
    <div class="webix_column col-lg-1 col-sm-1 col-xs-1">
        <div class="webix_cell">
            {{ $file->size }}
        </div>
    </div>
    <div class="webix_column col-lg-3 col-sm-3 col-xs-3">
        <div class="webix_cell">
            {{ route('admin_files_download', ['id' => $file->id])}}
        </div>
    </div>


</div>
<div id="context-menu-{{ $file->id }}">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="-1" href="#" class="rename_folder" data-id="{{ $file->id }}">{{ trans('files.rename') }}</a></li>
        <li><a tabindex="-1" href="#" class="delete_folder" data-id="{{ $file->id }}" data-url="{{ route('admin_files_delete', ['id' => $file->id]) }}">{{ trans('files.delete') }}</a></li>
        <li><a tabindex="-1" href="#" class="move_file" data-id="{{ $file->id }}">{{ trans('files.move') }}</a></li>
        <li><a tabindex="-1" href="#" class="update_file" data-id="{{ $file->id }}" data-url="{{ route('admin_files_get_modal_update', ['id' => $file->id]) }}">{{ trans('files.re_upload') }}</a></li>
    </ul>
</div>